/.idea
/.tmp
/.vagrant
/.vscode
.DS_Store
Homestead.json
Homestead.yaml
Thumbs.db
.env
.gitconfig
notes.txt
npm-debug.log
tree.output.txt
yarn-error.log
/node_modules/
/public/css/app.css
/public/fonts/
/public/hot/
/public/js/app.js
/public/page-cache
/public/phpcs.xml
/public/phpmd.html
/public/storage/
/resources/assets/bower/
/staging/
/storage/*.key
/storage/app/incident/
/storage/debugbar/
/storage/exports/
/storage/logs/
/storage/purify/
/storage/search/
/tmp
/vendor
